# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

dist/

# Jetbrains .idea/ folder
.idea/

# Vscode config folder
.vscode/

# Random log files
*.log

# Do not push json files (terraform show -json planfile > plan.json)
*.json

# Go generates
internal/utils/markdown_render/docs/

# OSX
.DS_Store

# binary builds
tftools